<h1>Dice Roll </h1>

<form action = "/process_roll">
  <label for = "cindy">Number of dice to roll? </label>
  <input id = "cindy" type="text" input name = "dice">

 <label for ="jimmy"> How many sides per die? </label>
 <input id = "jimmy" type = "text" input name = "sides">
 <button> Roll! </button>
</form>
